# Group Assignment 5 - Final Report
IST 210 - Section 008
Professor Dudas
10 December 2019

# Group 15
Aoshu Zhang - Spencer Lasky - 
Nicholas Rizzolo - Olivia Rueger

# Project introduction:

Humanlo is a fictional software that would compete with companies such as Oracle and Workday creating a workplace friendly human resource database system.We chose this project because it is a business application to our database studies. We first identified the needs of a company, and what they may need to track. We decided to organize our data into three tables: employee information (containing email address, employee ID, and years at company), salary (containing starting salary, current salary and date of last paycheck) along with sales and performance data. Humanlo is superior to other forms of spreadsheets and databases because it works within the cloud system, meaning that the private company does not have to set aside private storage for the data and it can be accessed anywhere through an internet connection. Our group found this idea to not only be practical in the technological workplace, but innovative and challenging as well.

# Video (group assignment 3):

https://drive.google.com/file/d/1R3nCMRGUDjREZcNI40v3KF7aVd4NfjsB/view?usp=drive_web

# ER Diagram (group assignment 4 with suggestions/corrections):

<img src="5.PNG">

# ER Diagram Specifics:

Our ER Diagram contains 4 tables: Salary, Employee, Sales and Bonus. The relationship between them is essentially that the sales an employee makes impacts their bonus which is taken into account for their final salary. Employee ID is a foreign key in the sales table so that we can keep track of which employee made the sale as well as the other information along with that sale including the customer, product and price. Sales ID is used to factor in the bonus an employee earns and Employee ID once again indicates which Employee will be earning that Bonus. Once the sales have been factored in to create a Bonus for the Employees, their salary can be determined by adding Total Employee Bonus and Starting Salary to get the Final Salary of each Employee.

# How Database/tables were created and how data was inserted:

The database and tables are created by using colab. The 3 tables we are going to use in this assignment are employee, salary and sales. For employee, we created the employee ID for the primary key. Name, email address and years at company as foreign keys. For salary, we put employee salary as the primary key. Starting salary and date of the latest paycheck as the foreign keys. Then, for sales, we put sales ID as the primary key. And the foreign keys include customer, product name and their prices. All of the data values are fake values. But we tried our best to make them reasonable.

# Code to create and populate database:

In [ ]:
connectionToDatabase = sqlite3.connect('humanlo')
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Employee''')
connectionToDatabase.commit()
 
cursor.execute('''create table Employee (ID text PRIMARY KEY, Name text, Email adrress text, Years at company text)''')
connectionToDatabase.commit()
 
cursor.execute('''drop table IF EXISTS Salary''')
connectionToDatabase.commit()
 
cursor.execute('''create table Salary (Employee salary text PRIMARY KEY, Starting salary real, Date of the latest paycheck text)''')
connectionToDatabase.commit()
 
cursor.execute('''drop table IF EXISTS Sales''')
connectionToDatabase.commit()
 
cursor.execute('''create table Sales(Sales ID text PRIMARY KEY, Customer text, Product name text, Price real)''')
connectionToDatabase.commit()



insertStatement =  """insert into Employee values ('2901', 'Alvaro Ramos', 'ramos1290@gmail.com', '6')"""
cursor.execute(insertStatement)
insertStatement =  """insert into Employee values ('2904', 'Larry Thomas', 'larry2235@gmail.com', '4')"""
cursor.execute(insertStatement)
insertStatement =  """insert into Employee values ('2804', 'Steven Chen', 'chyujia@yahoo.com', '11')"""
cursor.execute(insertStatement)
insertStatement =  """insert into Employee values ('2798', 'Mohhamad Tibers', 'msala@yahoo.com', '2')"""
cursor.execute(insertStatement)

# Scenario for the average person wanting to use database:

The main group that would be drawn to using this database would be a business that is looking for a way to organize data about various components they oversee, whether it be inventory, employees or sales as well as other key information pertaining to each. The compatibility with numerous modern-day business structures would be especially attractive allowing for easy widespread access to valuable company information that is organized in a sufficient manner making it easier to pull out such data when needed rather than having to filter through a copious amount of unfiltered numbers. Humanlo eliminates the hassle of having to sift through large amounts of information so that companies who use it can make informed decisions at a quicker pace allowing them to stay ahead of their competition and keeping customers satisfied with their quick service when applicable.

# 3 queries helpful for us or user and why:

1.Which employees (top 3) have the longest years at company?

SELECT Name,Years at company FROM Employee ORDER BY Years at company DESC LIMIT 3;

('Steven Chen', 11)

('Alvaro Ramos', 6)

('Larry Thomas', 4)

Comment: It is very important to know your veterans at your company. Because they have a lot of experiences that can help new employees. Dealing the relationships with them is also very important. As long as you treated them well, they are more likely to stay and keep bringing benifits to the company.

2.Which customers (top 3) bought the highest amount of products?

SELECT Customer,sales amount( )ğ¹ğ‘…ğ‘‚ğ‘€ğ‘†ğ‘ğ‘™ğ‘’ğ‘ ğ‘‚ğ‘…ğ·ğ¸ğ‘…ğµğ‘Œğ‘ ğ‘ğ‘™ğ‘’ğ‘ ğ‘ğ‘šğ‘œğ‘¢ğ‘›ğ‘¡( ) DESC LIMIT 3;

('FNC', 126500)

('JDG', 78000)

('iG', 67000)

Comment: It is important to know which customer bought the highest amount of products, because next time you can try to sale your next generation products to them. And they are more likely to buy it than the other customers.

1.What is the top 3 bonus among the salaries?

SELECT salary amount($),Bonus FROM Salary ORDER BY Bonus at company DESC LIMIT 3;

('10000', 2757)

('15000', 867)

('8000', 754)

Comment: Bonus is a good indicator for employee's performance, the higher bonus they get, they more likely they did well in their areas. But this is only a possible explaination. Bonus can be varies depend on some other factors as well.